.highlight {
  position: absolute;
}

.emoji {
  position: absolute;
  color: black;
  opacity: 1;
  font-size: 28px;
}

.parts {
  opacity: 1;
}

.part {
  cursor: pointer;
  position: absolute;
  background: rgba(255, 226, 143, 1);
  transition: background 0.3s;
}

.popup {
  background-color: #3d464d;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  max-width: 300px;
  max-height: 100px;
  overflow-y: scroll;
}

.scrolledTo .part {
  background: #ff4141;
}